.phase-container {
  width: 100%;
  height: 800px;
  border: 1px solid #ccc;
  background: #eee;
  position: relative;
}

.phase-window {
  border: 1px solid #555;
  background: #eeffff;
  position: absolute;
  overflow: hidden;
}

.phase-window > .CodeMirror {
  width: 100%;
  height: 100%;
}

div.CodeMirror-cursors {
  visibility: visible;
}

div.CodeMirror .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(0, 0, 0, .4);
}
